@import '../../sass/mixins/mixins.scss' ;

.product{

    &__section{

        &__left{

            &-image{
                width: 33%;
                margin-right: 2%;
    
                @include respond(phone){
                    width: 55px;
                    height: 75px;
                  };
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &-name{
                align-self: center;
                margin-top: 15px;

                @include respond(phone){
                    @include flex;
                    margin-top: 0;
                    width: 100%
                };

                .name__price{
                    display: none;

                    @include respond(phone){
                        display: inline-block;
                    };
                }

                .product__name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include respond(phone){
                        @include flex;
                        flex-direction: column;
                        height: 75px;

                        &-mob{
                            .wishlist-mob{
                                color: #999;
                            }

                            .name__viewMobile{
                                display: none;
                            }
                        }
                    };

                    .wishlist{
                        opacity: 0;
                        transition: opacity .5s ease-in;
                        color: #999;

                        @include respond(phone){
                           display: none;
                        }
                    }
                }
            
                i{
                    margin-right: 10px;
                    color: #999;
                    margin-top: 10px;
                    opacity: 0;
                    transition: opacity .5s ease;

                    @include respond(phone){
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.review{

    &__section{

        &__left{

            &-image{
                width: 20%;
                margin-right: 10px;

                img{
                    width: 100%
                }
            }

            &-name{
                @include flex;
                width: 100%;
            }

            &-bottom{
                @include open-close(200px, 1, .4s);
            }
        }
    }

    &__name{
        @include flex;
        flex-direction: column;

        .wishlist{
            display: none;
        }

        &__viewMobile{
            margin-bottom: 3px;
        }

        &__viewMobile{
            @include flex;
            height: 52%;
            flex-direction: column;
            color: #999;
        }
    }

    &__name-mob{
        @include flex;
        flex-direction: column;

        .review__name__viewMobile{
            display: none;
        }

        .wishlist-mob{
            height: 55%;

            p{
                color: #999;
            }

            i{
                color: #999;
                margin-right: 10px
            }
        }
    }
}

