@import '../../sass/mixins/mixins.scss' ;

.product{

    &__section{

        &__left{

            &-image{
                width: 33%;
                margin-right: 2%;
    
                @include respond(phone){
                    width: 55px;
                    height: 75px;
                  };
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &-name{
                align-self: center;
                margin-top: 15px;

                @include respond(phone){
                    margin-top: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%
                };

                .name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include respond(phone){
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 75px;

                        &-mob{
                            align-self: center;

                            .wishlist-mob{
                                color: #999;
                            }
                        }
                    };

                    .wishlist{
                        opacity: 0;
                        transition: opacity .3s ease-in;
                        color: #999;

                        @include respond(phone){
                           display: none;
                        }
                    }

            &__price{
                    display: none;

                    @include respond(phone){
                        display: inline-block;
                    };
                }
            }
            
                i{
                    margin-right: 10px;
                    color: #999;
                    margin-top: 10px;
                    opacity: 0;
                    transition: opacity .3s ease;

                    @include respond(phone){
                        opacity: 1;
                    }
                }
            }
        }
    }
}