@import '../../sass/mixins/mixins.scss';

.shipping {
  max-height: 2000px;
  width: 100%;
  padding: 35px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  @include respond(tablet) {
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }

  &__number {
    margin-right: 22%;

    @include respond(phone) {
      margin-right: 0;
    }
  }

  &__shipping {
    opacity: 1;
    max-height: 300px;
    transition: all 0.5 ease;
  }

  &__heading {
    position: relative;

    &__button {
      border: none;
      outline: none;
      background-color: transparent;
      position: absolute;
      top: 0px;
      left: 98%;
      cursor: pointer;

      @include respond(desktop) {
        left: 96%;
      }

      @include respond(tablet) {
        left: 94%;
      }

      @include respond(phone) {
        left: 95%;
      }
    }
  }

  &__component {
    width: 100%;

    &__head {
      display: flex;
      position: relative;
    }

    &__up {
      margin-left: 23%;

      @include respond(phone) {
        margin-left: 0;
      }
    }

    &__form {
      max-height: 2000px;
      opacity: 1;
      transition: all 0.5s ease;

      p {
        margin-bottom: 30px;
      }
    }

    &__submit {
      width: 100%;
      border: none;
      outline: none;
      height: 40px;
      background-color: #000;
      color: #fff;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      max-height: 2000px;
      opacity: 1;
      transition: all 0.5s ease;
      margin-top: 40px;
      width: 100%;
    }

    &__button {
      border: 1px solid #999;
      outline: none;
      width: 48%;
      cursor: pointer;
      transition: all 0.5s ease;
      background-color: transparent;
      height: 50px;

      &:hover {
        border-color: #000;
      }
    }

    &__home,
    &__store {
      max-height: 1000px;
      opacity: 1;
      transition: all 0.5s ease;
      margin-top: 40px;
    }
  }
}

.close {
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
  margin: 0;
}

.editBtn {
  display: none;
}

.border-black {
  border-color: #000;
}

.dash-shipping {
  @include respond(phone) {
    height: 2px;
    width: 20px;
    margin: 0 8%;
    margin-top: 10px;
    flex-shrink: 0;
  }
}
