@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i&display=swap');

header {

    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    padding: 1% 2%;;

    .top{
        display: flex;
        justify-content: space-between;
    }
    
    h1{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
    }

    i{
        font-size: 10px;
        margin-right: 14px;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .nav {
        display: flex;
        align-items: center;

        a{
            color: #888;
            text-decoration: none;
        }
        
        a:first-child{
            margin-right: 20px;
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10% 0 2% 0;
    }

    .categories{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .line{
        height: 2px;
        background-color: #000;
        width: 100%;
    }

}