@import '../../sass/mixins/mixins.scss'; 

.payment{

    &__component{

        &__form{

            &__gift{
                @include flex;

                @include respond(phone){
                    flex-wrap: wrap;
                  }
            }
        }

        &__gift{
            @include open-close(1000px, 1, .5s);
            margin-left: 23%;
            margin-top: 40px;

            @include respond(phone){
                margin-left: 0;
            }

            &__close{
                    @include open-close(0, 0, .3s);
                    overflow: hidden;
                    margin-left: 23%;
                
                    @include respond(phone){
                        margin-left: 0;
                    }
            }

            &__input{
                width: 35%;
                margin-right: 20px;
                
                @include respond(phone){
                    width: 47%;
                    margin-right: 0;
                  }
            }

            &__heading{
                margin-bottom: 30px;
            }

            &__text{
                @include open-close(50px, 1, .5s);
                color: #999;
            }
    
            &__validation{
                color: red;
                font-size: .6rem;
            }

            &__submit{
                @include input-border(none, none, none, #000, pointer);
                color: #FFF;
                flex: 1 0 100px;
                height: 40px;
                margin-top: 5px;

                @include respond(phone){
                    margin-top: 20px;
                  }
            }

            &__number,
            &__pin{
                @include input-border(none, none, 1px solid #999, transparent, default);
                width: 100%;
                width: 100%;
                padding-bottom: 5px;
                font-size: 1rem;
                
                &:focus{
                    border-color: #000;
                }
            }
        }
    }
}

i.select{
    @include position(relative, 99%, -25px, -10);

    @include respond(tablet){
        left: 97%;
      }
}
