@import '../../sass/mixins/mixins.scss';

.cart__page {
  display: flex;
  width: 100%;

  @include respond(phone) {
    flex-direction: column-reverse;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 45px;
    padding-left: 50px;

    @include respond(phone) {
      padding: 6% 4%;
      width: 100%;
    }

    &__content {
      position: relative;
    }
  }
}
