@import '../../sass/mixins/mixins.scss'; 

.shipping{

    &__component{

        &__city{
            width: 100%;

            &__field{
                width: 47.5%;
            }

            &__city,
            &__postal{
              display: flex;
              justify-content: space-between;
              height: 70px;
            }
        }

        &__city,
        &__province,
        &__postal,
        &__country{
            
            &__input{
                border: none;
                outline: none;
                border-bottom: 1px solid #999;
                width: 100%;
                padding-bottom: 5px;
                font-size: 1rem;
                margin: 5px 0; 
                border-radius: 0;
                -webkit-appearance: none;
                -moz-appearance: none;

                &:focus{
                    border-color: #000;
                }
            }
        }
    }
}

.select{
    background-color: transparent;
    border-bottom: none;
    cursor: pointer;
}

.border-bottom{
    border-bottom: 1px solid #999;
    height: 44px;
    cursor: pointer;
}

i.select{
    position: relative;
    top: -25px;
    left: 97%;
    z-index: -10;
}

.border{
    border-color: #999;
}