@import '../../sass/mixins/mixins.scss'; 

.shipping{

    &__component{

        &__address{
            width: 100%;
            display: flex;
            flex-direction: column;

            &__first,
            &__last{
                height: 70px;
            }

            &__input{
                @include input-border(none, none, 1px solid #999, transparent, default);
                width: 100%;
                padding-bottom: 5px;
                font-size: 1rem;
                margin: 5px 0; 
                
                &:focus{
                    border-color: #000;
                }
            }
    
            &__validation{
                color: red;
                font-size: .6rem;
            }
        }

        &__label{
            @include open-close(50px, 1, .3s);
            color: #999;
            

            &__close{
                @include open-close(0, 0, .3s);
                overflow: hidden;
            }
        }
    }
}

.close{
    max-height: 0;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
}

.border{
    border-color: #999;
}