.shipping {
  &__component {
    &__address {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__first,
      &__last {
        height: 70px;
      }

      &__input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
        font-size: 1rem;
        margin: 5px 0;

        &:focus {
          border-color: #000;
        }
      }

      &__label {
        max-height: 50px;
        opacity: 1;
        transition: all 0.5s ease;
        color: #999;
        font-size: 0.6rem;

        &__close {
          max-height: 0;
          opacity: 0;
          transition: all 0.3s ease;
          overflow: hidden;
        }
      }

      &__validation {
        color: red;
        font-size: 0.6rem;
      }
    }
  }
}

.border {
  border-color: #999;
}
