header {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
    padding-right: 7%;

    .top{
        display: flex;
        justify-content: space-between;
    }
    
    h1{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
    }

    i{
        font-size: 10px;
        margin-right: 14px;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .nav {
        display: flex;
        align-items: center;

        a{
            color: #888;
            text-decoration: none;
        }
        
        a:first-child{
            margin-right: 20px;
        }
    }

}