  
@import '../../../sass/mixins/mixins.scss' ;

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.2vh;
    padding-right: 8%;
    height: 50px;

    @include respond(phone){
        display: none;
      };

    &__top{
        @include flex;
    }

    &__nav{
        display: flex;
        align-items: center;
        opacity: 1;
        transition: all .5s ease; 

        &__close{
            opacity: 0;
            transition: all .5s ease; 
        }

        a{
            color: #888;
            text-decoration: none;
        }

        a:first-child{
            margin-right: 20px;
        }
    }
}