@import '../../sass/mixins/mixins.scss';

.shipping {

    &__component{

        &__validation{
            color: red;
            font-size: .6rem;
        }

        &__name{
            width: 100%;
            @include flex;
            height: 70px;

            &__first,
            &__last{
                width: 47.5%;
            }

            &__input{
                @include input-border(none, none,1px solid #999, transparent, default);
                width: 100%;
                padding-bottom: 5px;
                font-size: 1rem;
                margin: 5px 0; 
                
                &:focus{
                    border-color: #000;
                }
            }
        }
    }
}

.border{
    border-color: #999;
}