@import "../../sass/mixins/mixins.scss"; 

.summarycart{

    &__top__shipping{
        background-color: rgb(228, 226, 226);
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
        height: 50px;
        margin-bottom: 103px;
        padding: auto;
        display: flex;

        @include respond(desktop){
            margin-bottom: 95px;
        }

        @include respond(tablet){
            margin-bottom: 92px;
        }
    
        &-text{
            align-self: center;
             margin: 0 auto;
        }
    }
}
