@import '../../sass/mixins/mixins.scss';

.product{
    width: 100%;
    display: flex;
    padding-bottom: 3%;
    border-bottom: 2px solid transparent;

    @include respond(phone){
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 5% 0;

        &:nth-child(1){
            padding-top: 0;
        }
      };

    &__section{
        width: 92%;
        display: flex;

        @include respond(phone){
            width: 100%;
            flex-direction: column;
          };
    }

    &__exit{
        opacity: 0;
        color: #999;
        align-self: center;
        margin: 0 auto;
        margin-bottom: .5%;

        @include respond(phone){
            display: none;
          };
    }

    &:hover{
        i,
        .wishlist p, 
        .product__exit{
            opacity: 1;
            visibility: visible;
            cursor: pointer;
            
            @include respond(phone){
                display: none;
              };
        }
        
        .product__section__right-color-full,
        .product__section__right-size-full,
        .product__section__right-quantity-full{
            border: 1px solid rgba(0, 0, 0, .1);
        }
    }
}

