@import '../../sass/mixins/mixins.scss';

.product{
    width: 100%;
    display: flex;
    padding-bottom: 3%;
    border-bottom: 2px solid transparent;

    @include respond(phone){
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 5% 0;

        &:nth-child(1){
            padding-top: 0;
        }
      };

    &__section{
        width: 92%;
        display: flex;

        @include respond(phone){
            width: 100%
          };

        &__first{
            width: 49%;
            display: flex;

            @include respond(phone){
                width: 100%
              };

            &-image{
                width: 33%;
                margin-right: 2%;

                @include respond(phone){
                    width: 55px;
                    height: 75px;
                  };

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &-name{
                align-self: center;
                margin-top: 15px;

                @include respond(phone){
                    align-self: flex-start;
                    margin-top: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%
                  };

                  .name{

                    @include respond(phone){
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 75px;
                      };

                    &__mobile-data{
                        display: none;
                        color: #999;

                        @include respond(phone){
                            display: flex;
                          };
                        }

                    &__mobile-nav{
                        display: none;

                        @include respond(phone){
                            display: flex;
                          };

                        &-edit{
                            margin-right: 20px;
                        }

                        button{
                            cursor: pointer;
                            border: none;
                            background-color: transparent;
                            outline: none;;
                        }
                    }

                    &__price{
                        display: none;

                        @include respond(phone){
                            display: inline-block;
                        };
                    }
                }
                

                i{
                    margin-right: 10px;
                    color: #999;
                    margin-top: 10px;
                    opacity: 0;
                    transition: opacity .3s ease;
                }
            
                .wishlist p{
                    color: #999; 
                    opacity: 0;
                    transition: opacity .3s ease;

                    @include respond(phone){
                        display: none;
                      };
                }
            }
        }

        &__second{
            width: 51%;
            display: flex;
            align-self: center;
            margin-bottom: 1%;
            justify-content: space-between;

            @include respond(phone){
                display: none;
              };

            &-color{
                display: flex;
                border: 1px solid transparent;
                align-self: center;
                transition: all .3s ease;
                position: relative;
                align-items: center;
                padding: 10px 0;
                padding-left: 1%;
                margin-right: 1%;
            
                select{
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    width: 60px;
                    cursor: pointer;
                }
            
                i{
                    margin-top: 3px;
                    transition: opacity .3s ease;
                    position: absolute;
                    top: 10px;
                    left: 82%;
                    z-index: -1;
                    opacity: 0;
                }
            
                .color-ball{
                    width: 7px;
                    height: 7px;
                    border-radius: 1000px;
                    margin-right: 10px;
                }
            }

            &-size{
                align-self: center;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                transition: all .3s ease;
                position: relative;
                margin-left: -5%;
                align-content: center;
            
                select{
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    cursor: pointer;
                    width: 50px;
                }
            
                i{
                    margin-top: 3px;
                    margin-left: 5px;
                    transition: opacity .3s ease;
                    position: absolute;
                    top: 10px;
                    left: 65%;
                    z-index: -1;
                    opacity: 0;
                }
            }

            &-quantity{
                align-self: center;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: space-between;
                transition: all .3s ease;
                position: relative;
                align-content: flex-start;
            
                select{
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    cursor: pointer;
                    width: 30px;
                }
            
                i{
                    margin-top: 3px;
                    transition: opacity .3s ease;
                    position: absolute;
                    top: 10px;
                    left: 65%;
                    z-index: -1;
                    cursor: pointer;
                    opacity: 0;
                }
            }

            &-price{
                align-self: center;
                margin-left: 1%;
            }
        }
    }

    &__exit{
        opacity: 0;
        color: #999;
        align-self: center;
        margin: 0 auto;
        margin-bottom: 8px;

        @include respond(phone){
            display: none;
          };
    }

    &:hover{
        i,
        .wishlist p, 
        .product__exit{
            opacity: 1;
            visibility: visible;
            cursor: pointer;
            
            @include respond(phone){
                display: none;
              };
        }
        
        .product__section__second-color,
        .product__section__second-size,
        .product__section__second-quantity{
            border: 1px solid rgba(0, 0, 0, .1);
        }
    }
}

