
@import '../../../sass/mixins/mixins.scss';

.main{

    &__cart{
        @include open-close(100vh, 1, .5s);
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateY(0);
        position: absolute;
        top: 0;

        &__close{
            @include open-close(100vh, 0, .8s);
            transform: translateY(-150%);
            position: relative;
            z-index: -1;
        }

        & div:nth-of-type(2){

            @include respond(phone){
                border: none;
                padding-top: 0;
            }
        }
    }
}