@import "../../../sass/mixins/mixins.scss";

.main {
  &__cart {
    @include open-close(2000px, 1, 0.5s);
    @include position(absolute, 0, 0, auto);
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateY(0);

    &__close {
      @include position(relative, 0, 0, -1);
      @include open-close(0, 0, 0.8s);
      transform: translateY(-300%);
    }

    & div:nth-of-type(2) {
      @include respond(phone) {
        border: none;
        padding-top: 0;
      }
    }
  }
}
