
@import '../../../sass/mixins/mixins.scss';

.main{

    &__cart{
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateY(0);
        transition: opacity .5s ease, transform .5s ease;
        opacity: 1;
        position: absolute;
        top: 0;

        &__close{
            opacity: 0;
            transform: translateY(-150%);
            transition: opacity .8s ease, transform .8s ease;
            position: relative;
            z-index: -1;
        }

        & div:nth-of-type(2){

            @include respond(phone){
                border: none;
                padding-top: 0;
            }
        }
    }
}