@import '../../sass/mixins/mixins.scss'; 

.info{
    @include flex;
    flex-direction: column;
    width: 100%;
    padding-right: 8%;

    @include respond(phone){
        display: none;
      };

    &__cart{
        display: flex;

        &__bag{
            width: 50%;
        }

        &__categories{
            @include flex;
            width: 50%;

            &-color{
                margin-right: 10%;
            }
        }
    }

    &__line{
        height: 2px;
        background-color: #000;
        width: 100%;
        margin: 15px 0;
    }
}
