.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-right: 8%;

    &__cart{
        display: flex;

        &__bag{
            width: 50%;
        }

        &__categories{
            display: flex;
            width: 50%;
            justify-content: space-between;
        }
    }

    &__line{
        height: 2px;
        background-color: #000;
        width: 100%;
        margin: 2% 0;
    }
}
