@import '../../sass/mixins/mixins.scss'; 

.payment {

    &__component{

        &__credit{
            margin-left: 23%;
            margin-top: 40px;

            &__close{
                @include open-close(0, 0, .3s);
                margin-left: 23%;
            }

        @include respond(phone){
            margin-left: 0;
          }
        }

        &__input{
            width: 100%;
            height: 70px;
            margin-bottom: 15px;
        }

        &__date{
            width: 48%;
        }

        &__shipping{
            display: flex;
            margin: 40px 0;

            &__sign{
                background-color: #000;
                border-radius: 1000px;
                height: 20px;
                width: 20px;
                margin-right: 10px;
    
                i{  
                    position: relative;
                    color: #fff;
                    left: 50%;
                    top: 45%;
                    transform: translate(-50%, -50%);
                }
            }

            &__text{
              font-weight: 800;
              align-self: center;      
            }
        }

        &__display{
            @include flex;
            height: 70px;
            margin-top: 15px;
        }

        &__credit{

            &__submit{
                @include input-border(none, none, none, #000, pointer);
                color: #fff;
                width: 100%;
                padding: 15px;
            }

            &__select,
            &__number,
            &__name,
            &__date,
            &__expiration{
                @include input-border(none, none, 1px solid #999, transparent, default);
                width: 100%;
                padding-bottom: 5px;
                font-size: 1rem;
                margin: 5px 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                
                &:focus{
                    border-color: #000;
                }
            }
        }

        &__label{
            @include open-close(50px, 1, .5s);
            color: #999;

            &__close{
                @include open-close(0, 0, .5s);
            }
        }

        &__validation{
            color: red;
            font-size: .6rem;
        }
    } 
}

.select{
    background-color: transparent;
    border-bottom: none;
    cursor: pointer;
}

.border{
    border-color: #999;
}

.border-bottom{
    border-bottom: 1px solid #999;
    height: 44px;
    cursor: pointer;
    margin-bottom: 40px;
}