@import '../../sass/mixins/mixins.scss';

.review{

    &__product{

        &__section{
            width: 100%;
            @include flex;

            &__name{
                display: flex;
                @include flex;
            }

            &__image{
                width: 85px;
                margin-right: 10px;

                img{
                    width: 100%;
                }
            }

            &__info{
                display: flex;
            }

            &__text{
                color: #999;
            }

            &__wishlist{
                margin-bottom: 35%;

                i{
                    color: #999;
                    margin-right: 10px;
                }
            }

            &__price{
                margin-left: auto;
            }

            &__nav{
                margin-bottom: 2px;

                button{
                    background-color: transparent;
                }
            }

            &__edit{
                margin-right: 20px;
            }

            &__edit,
            &__remove{
                @include input-border(none, none, none, transparent, pointer);
            }
        }
    }
}

.none{
    display: none;
}