@import '../../sass/mixins/mixins.scss';

.product__section{

    &__right{

        &-quantity{

            &-full{
                @include flex;
                align-self: center;
                border: 1px solid transparent;
                align-items: center;
                padding: 10px;
                transition: all .5s ease;
                position: relative;
                align-content: flex-start;
                width: 50px;

                @include respond(tablet){
                    width: 70%
                }

                @include respond(phone){
                    border: 1px solid rgba(0, 0, 0, .1);
                    width: 100%;
                }
            
                select{
                    @include input-border(none, none, none, transparent, pointer);
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 100%;
                }
            
                i{
                    @include position(absolute, 65%, 10px, -1);
                    margin-top: 3px;
                    transition: opacity .5s ease;
                    cursor: pointer;
                    opacity: 0;

                    @include respond(phone){
                        opacity: 1;
                        left: 89%;
                    }
                }
            }
        }
    }
}