@import '../../../sass/mixins/mixins.scss'; 

.summary{
    background-color: rgba(247, 242, 242, 0.5);
    width: 30%;
    padding: 3% 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include respond(phone){
        width: 100%;
        padding: 6% 4%;
        padding-top: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      };

   &__top__shipping{
       background-color: rgb(228, 226, 226);
       text-transform: uppercase;
       padding: 20px;
       text-align: center;
       height: 50px;
       margin-bottom: 45px;
       padding: auto;
       display: flex;

       &-text{
           align-self: center;
            margin: 0 auto;
       }
   }

   &__top__total{
       display: flex;
       justify-content: space-between;
       margin: 0 0 5% 0;

       @include respond(phone){
        display: none;
      };
   }

   &__line{
        width: 100%;
        height: 2px;
        background-color: #000;

        @include respond(phone){
            display: none;
          };

        &-grey{
            width: 100%;
            height: 1px;
            background-color: #999;
        }
   }

   &__top__subtotal{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
   }

   &__total__value{
       font-size: 1.5rem;
       font-weight: 600;
   }
}