@import '../../sass/mixins/mixins.scss' ;
@import '../product/product.scss';

.product__section {

    &__left{
        width: 50%;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;

            @include respond(phone){
                display: flex;
                width: 100%;
            }
        }

        &-bottom{
            display: none;

            @include respond(phone){
                display: none;
                flex-direction: column;
                width: 100%;
            }
        }

        @include respond(phone){
            width: 100%;
          };

        &-image{
            width: 33%;
            margin-right: 2%;

            @include respond(phone){
                width: 55px;
                height: 75px;
              };

            img{
                width: 100%;
                height: 100%;
            }
        }

        &-name{
            align-self: center;
            margin-top: 15px;

            @include respond(phone){
                align-self: flex-start;
                margin-top: 0;
                display: flex;
                justify-content: space-between;
                width: 100%
              };

              .name{

                @include respond(phone){
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 75px;
                  };

                &__mobile-data{
                    display: none;
                    color: #999;

                    @include respond(phone){
                        display: flex;
                      };
                    }

                &__mobile-nav{
                    display: none;

                    @include respond(phone){
                        display: flex;
                    };

                    &-edit{
                        margin-right: 20px;
                    }

                    button{
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        outline: none;;
                    }
                }

                &__price{
                    display: none;

                    @include respond(phone){
                        display: inline-block;
                    };
                }
            }
            
            i{
                margin-right: 10px;
                color: #999;
                margin-top: 10px;
                opacity: 0;
                transition: opacity .3s ease;

                @include respond(phone){
                    opacity: 1;
                };
            }
        
            .wishlist {

                @include respond(phone){
                    display: none;
                }
                
                p{
                    color: #999; 
                    opacity: 0;
                    transition: opacity .3s ease;
                }
            }
        }
    }
}