@import '../../sass/mixins/mixins.scss' ;
@import '../product/product.scss';

.product__section {

    &__left{
        width: 50%;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;

            @include respond(phone){
                display: flex;
                width: 100%;
            }
        }

        &-bottom{
            display: none;

            @include respond(phone){
                @include open-close(500px, 1, .5s);
                display: inline;
                overflow: hidden;
                width: 100%;
            }

            &__close{
                @include open-close(0, 0, .5s);
            }

            &-open{

                @include respond(phone){
                    @include open-close(160px, 1, .5s);
                    width: 100%;
                }
            }
        }

        @include respond(phone){
            width: 100%;
        };
    }
}