@import '../../sass/mixins/mixins.scss' ;
@import '../product/product.scss';

.product__section {

    &__left{
        width: 50%;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;

            @include respond(phone){
                display: flex;
                width: 100%;
            }
        }

        &-bottom{
            display: none;

            @include respond(phone){
                display: inline;
                max-height: 500px;
                overflow: hidden;
                opacity: 1;
                flex-direction: column;
                width: 100%;
                transition: all .4s ease;
            }

            &-open{

                @include respond(phone){
                    max-height: 160px;
                    flex-direction: column;
                    width: 100%;
                    opacity: 1;
                    transition: all .4s ease;
                }
            }
        }

        @include respond(phone){
            width: 100%;
        };
    }
}