@import '../../sass/mixins/mixins.scss'; 

.payment{

    &__data{
        margin: 5px 0;

        &__close{
            @include open-close(0, 0, none)
        }

        &__component{
            margin-top: 15px;

            &__close{
                @include open-close(0, 0, none)
            }
        }

        &__code{
            font-size: 2rem;
        }
    }
}