@import '../../sass/mixins/mixins.scss'; 

.payment{

    &__data{
        margin: 5px 0;
        margin-left: 23%;

        @include respond(phone){
            margin-left: 0;
          }

        &__component{
            margin-top: 15px;
        }

        &__code{
            font-size: 2rem;
        }
    }
}

.close{
    max-height: 0;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
    margin: 0;
}