@mixin respond($breakpoint){
   @if $breakpoint == phone {
    @media(max-width: 700px){ @content }
   };
   @if $breakpoint == tablet {
    @media(max-width: 900px){ @content }
   };
   @if $breakpoint == desktop {
      @media(max-width: 1280px){ @content }
   };
}

@mixin open-close($height, $opacity, $transition){
   max-height: $height;
   opacity: $opacity;
   transition: all $transition ease;
}

@mixin input-border($border, $outline, $bottom, $color, $cursor){
   border: $border;
   outline: $outline;
   border-bottom: $bottom;
   background-color: $color;
   cursor: $cursor;
}

@mixin flex{
   display: flex;
   justify-content: space-between;
}