@import '../../sass/mixins/mixins.scss';

.email{

    &__component{

        &__input{
            @include input-border(none, none, 1px solid #000, transparent, default);
            width: 100%;
            padding-bottom: 5px;
            font-size: 1rem;
            margin-bottom: 10px;
        }

        &__field{
            height: 60px;
            margin-bottom: 20px;

            &__email{
                margin-bottom: 40px;
                height: 90px;
            }

            &__label{
                height: 25px;
            }

            i.input{
                font-size: 1rem;
                position:relative;
                left: 100%;
                top: 20px;
                color: #999;
                cursor: pointer;


                @include respond(phone){
                    left: 95%;
                }
            }

            i.red,
            i.green{
                position: relative;
                top: 17px;
                font-size: 1rem;
                left: -2.5%;
            }

            i.red{
                color: red;
                left: -12px;

                @include respond(phone){
                    left: 98%;
                }
            }

            i.green{
                color: green;

                @include respond(phone){
                    left: 98%;
                }
            }

            i.pass{
                opacity: 0;
                pointer-events:none;
            }
        }

        &__password{
            @include open-close(500px, 1, .5s);

            &__close{
                @include open-close(0, 0, .5s);
            }

            &__validation{
                display: inline-block;
                color: red;
                font-size: .6rem;
                margin-top: -10px;
                display: block;
            }

            &__up{

                p{
                    font-weight: 800;
                    width: 70%;
                    margin-top: -13px;
                    margin-bottom: 42px;

                    @include respond(tablet){
                        width: 80%;
                    }

                    @include respond(phone){
                        width: 100%;
                    }
                }

                i{
                    display: inline-block;
                    margin-right: 15px;
                    font-size: .4rem; 
                    margin-left: -20px;
                }


                .dot{

                    @include respond(phone){
                        display: none;
                    }
                }
            }
        }
    }
}

.border{
    border-bottom: 1px solid rgba(0, 0, 0, .3)
}

.black__button{
    @include input-border(none, none, none, #000, pointer);
    height: 50px;
    color: #FFF;
    text-align: center;
    width: 100%;
}