@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i&display=swap');
@import '../../sass/mixins/mixins.scss';

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30%;

    @include respond(phone){
        margin-top: 7%;
      };

    .button{
        margin-bottom: 20px;
        width: 100%;
        height: 60px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        outline: none;
        cursor: pointer;

        @include respond(phone){
            height: 50px;

            &:nth-child(3){
                margin-bottom: 0;
            }
          };

        &_check{
            background-color: #000;
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
            text-decoration: none;
            padding: 20px;
            font-family:'Montserrat', sans-serif;
        }

        &_pay {
            background-color: #fff;
            width: 100%;
        }

        .apple{
            width: 10%;
            height: auto;

            @include respond(desktop){
                width: 15%
            }

            @include respond(tablet){
                width: 20%
            }

            @include respond(phone){
                width: 10%
            }
        }

        .paypay{
            width: 20%;
            height: auto;

            @include respond(desktop){
                width: 30%
            }

            @include respond(tablet){
                width: 40%
            }

            @include respond(phone){
                width: 21%
            }
        }
    }
}

