@import '../../sass/mixins/mixins.scss';

.shipping {
  &__data {
    margin-top: 15px;

    &__close {
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease;
      overflow: hidden;
    }

    @include respond(phone) {
      margin-left: 0;
    }
  }
}
