@import '../../sass/mixins/mixins.scss'; 

.payment{

    &__component{
        margin-left: 23%;

        @include respond(phone){
            margin-left: 0;
        }

        &__button{
            @include input-border(1px solid #999, none, none, transparent, pointer);
            width: 48%;
            padding: 15px;
            transition: all .5s ease;
            height: 50px;
            padding: 6.5px 15px;
            margin-bottom: 15px;

            &:hover{
                border-color: #000;
            }

            @include respond(phone){
                width: 100%;
                margin-bottom: 10px;
            }

            .apple{
                width: 14%;
                height: auto;
    
                @include respond(desktop){
                    width: 30%
                }

                @include respond(phone){
                    width: 50px;
                }
            }

            .paypay{
                width: 25%;
                height: auto;

                @include respond(desktop){
                    width: 50%
                }

                @include respond(phone){
                    width: 90px;
                }
            }
        }

        &__buttons{
            @include open-close(1000px, 1, .5s);
            width: 100%;
            overflow: hidden;
            margin-top: 40px;

            &__close{
                @include open-close(0, 0, .5s);
            }

            &__up,
            &__down{
                @include flex;
                width: 100%;

                @include respond(phone){
                    flex-direction: column;
                }
            }
        }
    }
}

.border-black{
    border-color: #000;
}