@import "../../sass/mixins/mixins.scss"; 

.name{
    
    &__mobile{

        &-data{

            &-text{
                display: none;
                color: #999;

                @include respond(phone){
                    display: flex;
                }
            }
        }

        &-nav{
            display: none;
            margin-top: 15px;

            @include respond(phone){
                display: flex;
            };

            &-edit{
                @include input-border(none, none, none, transparent, pointer);
                margin-right: 20px;
            }

            &-remove{
                @include input-border(none, none, none, transparent, pointer);
            }

            &-mob{
                display: none;
            }

            button{
                @include input-border(none, none, none, transparent, pointer);
            }
        }
    }
}