.email{
    max-height: 300px;
    display: flex;
    padding-right: 180px;

    &__number{
        margin-right: 240px;
    }

    &__email{
        opacity: 1;
        max-height: 100px;
        transition: all .3 ease;
    }

    &__heading{
        margin-bottom: 20px;
        position: relative;

        &__button{
            border: none;
            outline: none;
            background-color: transparent;
            position: absolute;
            top: 5px;
            left: 85%;
            cursor: pointer;
        }
    }

    &__component{
        width: 560px;

        &__form{
            max-height: 260px;
            opacity: 1;
            transition: all .2s ease;
        }
    }
}

.close{
    max-height: 0;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
}


   

