
@import '../../../sass/mixins/mixins.scss';

.main{

    &__form{
      @include open-close(100vh, 1, .5s);
      padding-right: 15%;
      transform: translateY(0);
      position: absolute;
      top: 30px;

      &__close{
        @include open-close(0, 0, .5s);
        transform: translateY(150%);
        position: relative;
        z-index: -1;
      }

      @include respond(tablet){
          padding-right: 0;
        }
    }
}