@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i&display=swap');
@import './sass/mixins/mixins.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 12px;
}

.App{
  width: 100%;
  font-family:'Montserrat', sans-serif;
}


