@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 12px;
}

.App{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family:'Montserrat', sans-serif;
}

.vertical{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1% 2%;
}
