@import '../../sass/mixins/mixins.scss';

.product__section{

    &__right{

        &-color{

            &-full{
                    display: flex;
                    border: 1px solid transparent;
                    align-self: center;
                    transition: all .5s ease;
                    position: relative;
                    align-items: center;
                    padding: 10px;
                    width: 60%;

                    @include respond(desktop){
                        width: 90%;
                    }

                    @include respond(tablet){
                        padding: 10px 5px;
                    }

                    @include respond(phone){
                        border: 1px solid rgba(0, 0, 0, .1);
                        width: 100%;
                    }
            
                select{
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    cursor: pointer;
                    width: 110%;
                }
            
                i{
                    margin-top: 3px;
                    transition: opacity .5s ease;
                    position: absolute;
                    top: 10px;
                    left: 82%;
                    z-index: -1;
                    opacity: 0;

                    @include respond(tablet){
                        left: 83%;
                    }

                    @include respond(phone){
                        opacity: 1;
                        left: 89%;
                    }
                }
            
                .color-ball{
                    width: 10px;
                    height: 8px;
                    border-radius: 1000px;
                    margin-right: 10px;
                    margin-top: 2px;

                    @include respond(tablet){
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}