.review{

    &__data{

        &__component{

            &__section{
                padding: 30px 0 15px 0;
                border-top: 1px solid rgba(0, 0, 0, .1);
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }
    }
}