@import '../../sass/mixins/mixins.scss';

.shipping{

    &__component{

        &__heading{
            margin-bottom: 30px;
        }

        &__input{
            width: 47.5%;
        }

        &__select{

            &__up,
            &__down{
                @include flex;
                width: 100%;
                height: 70px;
            }
        }

        &__city-select,
        &__province,
        &__postal,
        &__country{
            @include input-border(none, none, 1px solid #999, transparent, default);
            width: 100%;
            padding-bottom: 5px;
            font-size: 1rem;
            margin: 5px 0; 
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;

            &:focus{
                border-color: #000;
            }
        }
    }
}

.select{
    background-color: transparent;
    border-bottom: none;
    cursor: pointer;
}

.border-bottom{
    border-bottom: 1px solid #999;
    height: 44px;
    cursor: pointer;
}

i.select{
    @include position(relative, 97%, -25px, -10);
}

.border{
    border-color: #999;
}
