.email{

    &__component{

        &__input{
            border: none;
            outline: none;
            border-bottom: 1px solid #000;
            width: 100%;
            padding-bottom: 5px;
            font-size: 1rem;
            margin-bottom: 15px;
        }

        &__field{
            margin-bottom: 40px;
            height: 70px;

            i.input{
                font-size: 1rem;
                position:relative;
                left: 100%;
                top: 20px;
                color: #999;
                cursor: pointer;
            }

            i.red,
            i.green{
                position: relative;
                top: 17px;
                font-size: 1rem;
                left: -2.5%;
            }

            i.red{
                color: red;
                
            }

            i.green{
                color: green
            }

            i.pass{
                left: 0;
            }
        }

        &__password{
            max-height: 500px;
            opacity: 1;
            transition: all .3s ease;

            &__validation{
                display: inline-block;
                color: red;
                font-size: .6rem;
            }

            &__up{
                margin-bottom: 60px;

                p{
                    font-weight: 800;
                    width: 80%;
                    margin-top: -13px;
                    margin-bottom: 42px;
                }

                i{
                    display: inline-block;
                    margin-right: 15px;
                    font-size: .4rem; 
                    margin-left: -20px;
                }
            }
        }
    }
}


.close{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s ease;
}

.border{
    border-bottom: 1px solid rgba(0, 0, 0, .3)
}

.black__button{
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    text-align: center;
    width: 100%;
}