@import '../../sass/mixins/mixins.scss'; 

.payment{
    max-height: 2000px;
    display: flex;
    width: 100%;
    padding: 35px 0 ;
    border-top: 1px solid rgba(0, 0, 0, .2);
    position: relative;

    @include respond(tablet){
        width: 80%;
      }

    &__number{
        margin-right: 22%;
    }

    &__heading{
        margin-bottom: 40px;
        position: relative;

        &__button{
            border: none;
            outline: none;
            background-color: transparent;
            position: absolute;
            top: 35px;
            left: 96%;
            cursor: pointer;
        }
    }
}