.white__buttons{
    border: 1px solid rgba(0, 0, 0, .3);
    
    button{
        border: none;
        outline: none;
        padding: 15px 70px;
        cursor: pointer;
        background-color: #fff;
    }

    &:hover{
        border: 1px solid rgba(0, 0, 0, 1);
    }
}